<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Northern Herpetoculture</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/create">Enter Breeding Group</a></li>
          <li><a href="/incubator">Into the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
      </ul>
    </header>
    <main>
      <h1>The Gecko Breeding Program</h1>
      <div class="about">
        <p>
              <i>"Gekkonidae"</i> is a place, where you can track Northern Herpetoculture's propogation of charismatic
            microfauna from the egg to the expo.<a
            href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Project with function</a> at the
          <a href="https://softuni.bg/">Northern Herpetoculture</a>.</p>
      </div>
    </main>
  </div>
  <footer>Gekkonidae: Exercise for Express.js and Handlebars</footer>
</body>

</html>