<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add A Gecko</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="static/images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/create">Add Breeding Group</a></li>
        <li><a href="/incubator">Add to the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
      </ul>
    </header>
    <main>
      <h1>Add a Gecko</h1>
      <div class="form">
        <form action='' method="">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Species</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="image">
          <label for="Group_Cage">Habitat</label>
            <select id="Group_Cage" name="Habitat">
                <option value="1">Exxo Terra 24 x 32 x 16</option>
                <option value="2">Exxo Terra 32 x 32 x 18</option>
                <option value="3">Exxo terra 18 x 18 x 24</option>
                <option value="4">Vision cage 36 x 36 x 36</option>
                </select>
          <input type="submit" value="Create">
          <label for="difficulty">Difficulty</label>
          <select id="difficulty" name="difficultyLevel">
            <option value="1">1 - Easy</option>
            <option value="2">2 - Medium</option>
            <option value="3">3 - Intermediate</option>
            <option value="4">4 - Expert</option>
          </select>
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
  <footer>Gekkonidae: Exercise for Express.js and Handlebars</footer>

</body>

</html>