<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gekkonidae</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/create">Add a Species</a></li>
        <li><a href="/create">Add a New Gecko</a></li>
        <li><a href="/incubator">into the Incubator</a></li>
        <li><a href="/about">Our Animals</a></li>
      </ul>
    </header>
    <main>
      <h1>Rhachodactylus leachianus</h1>
      <img class="gecko" src="images/20190508_045724.jpg">
      <div class="details">
        <p><span>Description:</span> 'Leachies' are the largest living gecko. From the islands of New Caledonia these giants live for over 35 years. There are a number of different localities
        . The specimens from the main island are the largest while the types from the offshore islands although smaller tend to have more patterns and colors</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  </div>
  <footer>gekkonidae: Exercise for Express.js and Handlebars</footer>
</body>

</html>