<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add A Gecko</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Home Page</a></li>
        <li><a href="/species">Add New Species</a></li>
        <li><a href="/gecko">Add a New Gecko</a></li>
        <li><a href="/incubator">Add to the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
        <li><a href="/user">Login</a></li>
      </ul>
    </header>
    <main>
      <h1>Add a Gecko</h1>
      <div class="form">
        <form action='/gecko' method="POST">
          <label for="name">Name</label>
          <input type="text" id="geckoName" name="geckoName">
          <label for="name">Species</label>
          <input type="text" id="speciesName" name="speciesName">
          <label for="name">Hatch Date</label>
          <input type="text" id="hatchDate" name="hatchDate"></input>
          <label for="name">Gender</label>
          <input type="text" id="gender" name="gender">
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="image">
          <label for="purchasePrice">Price at Purchase</label>
          <input type="text" id="purchasePrice" name="purchasePrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
  <footer>Gekkonidae: "I am writing this under an appreciable mental strain" Lovecraft</footer>
 