<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Into the Incubator</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
<div class="container">
    <header>
        <ul>
        <li><img class="logo" src="images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
            <li><a href="/">Species</a></li>
            <li><a href="/create">Add a Gecko</a></li>
            <li><a href="/species">Add a Species</a></li>
            <li><a href="/incubator">Add to the Incubator</a></li>
            <li><a href="/about">About our Animals</a></li>
            <li><a href="/user">Login</a></li>
        </ul>
    </header>
    <main>
        <h1>Into the Incubator</h1>
        <div class="form">
            <form action='/incubator' method="POST">
                <label for="name">Evoposition Date</label>
                <input type="date" id="name" name="name">
                <label for="name">Incubation Tempature Range</label>
                <input type="text" id="incubationRange" name="incubationRange">
                <label for="name">Prospective Hatch Time</label>
                <input type="date" id="prospectiveHatch" name="prospectiveHatch">
                <label for="name">Parents</label>
                <input type="text" id="parents" name="parents">
                <label for="image">Species</label>
                <input type="text" id="image" name="image">
                <input type="submit" value="Create">
            </form>
        </div>
    </main>
</div>
<footer>Gekkonidae: All Reality is a Game</footer>

</body>

</html>