<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Into the Incubator</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
<div class="container">
    <header>
        <ul>
            <li><img class="logo" src="static/images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
            <li><a href="/">Browse</a></li>
            <li><a href="/create">Add Breeding Group</a></li>
            <li><a href="/incubator">Add to the Incubator</a></li>
            <li><a href="/about">About our Animals</a></li>
        </ul>
    </header>
    <main>
        <h1>Add a Gecko</h1>
        <div class="form">
            <form action='' method="">
                <label for="name">Evoposition Date</label>
                <input type="text" id="name" name="name">
                <label for="name">Species</label>
                <textarea id="name" name="description"></textarea>
                <label for="image">ImageUrl</label>
                <input type="text" id="image" name="image>
                    <input type="submit" value="Create">
            </form>
        </div>
    </main>
</div>
<footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>