<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Northern Herpetoculture</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/species">Add a Species</a></li>
        <li><a href="/create">Add a Gecko</a></li>
        <li><a href="/incubator">Into the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
        <li><a href="/user">Login</a></li>
      </ul>
    </header>
    <main>
      <h1>Gecko Species</h1>
 <!--    <form action="" method="">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
      </form> -->
      <div class="gecko">
        <img class="gecko" src="images/20190508_045724.jpg">
        <p class="name">Rhachodactylus leachianus</p>
<!--        <p><span>Difficulty level:</span> 3</p> -->
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e182">Details</a>
      </div>
      <div class="gecko">
        <img class="gecko" src="images/houdini.png">
        <p class="name">Phelsuma standingii</p>
 <!--       <p><span>Difficulty level:</span> 6</p> -->
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e183">Details</a>
      </div>
      <div class="gecko">
        <img class="gecko" src="images/20200416_004852.jpg">
        <p class="name">Correlophus ciliatus</p>
<!--        <p><span>Difficulty level:</span> 1</p> -->
        <a class="btn" href="/details/5c3a6888f78d6638ec8fdad6">Details</a>
      </div>
      <div class="gecko">
        <img class="gecko" src="images/189502438_510726183617126_8678603200436463635_n.jpg">
        <p class="name">Eurodactylodes viellerdi</p>
<!--        <p><span>Difficulty level:</span> 3</p> -->
        <a class="btn" href="/details/5c3a68d9f78d6638ec8fdad7">Details</a>
      </div>

    </main>
  </div>
  <footer>Gekkonidae: Happy are they that praise thee; for they see thee with Mine eyes</footer>
</body>

</html>