<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Northern Herpetoculture</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/create">Add a Breeding Program</a></li>
        <li><a href="/incubator">Into the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
      </ul>
    </header>
    <main>
      <h1>Species</h1>
      <form action="" method="">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
      </form>
      <div class="cube">
        <img class="cube" src="static/images/20190508_045724.jpg">
        <p class="name">Rhachodactylus leachianus</p>
        <p><span>Difficulty level:</span> 3</p>
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e182">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src=""static/images/houdini.png">
        <p class="name">Phelsuma standingii</p>
        <p><span>Difficulty level:</span> 6</p>
        <a class="btn" href="/details/5c39f1851ab3b24f5c03e183">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61izOzq%2BBAL._SY355_.jpg">
        <p class="name">Correlophus ciliatus</p>
        <p><span>Difficulty level:</span> 1</p>
        <a class="btn" href="/details/5c3a6888f78d6638ec8fdad6">Details</a>
      </div>
      <div class="cube">
        <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61HpQqVQ37L._SY355_.jpg">
        <p class="name">Eurodactylodes viellerdi</p>
        <p><span>Difficulty level:</span> 3</p>
        <a class="btn" href="/details/5c3a68d9f78d6638ec8fdad7">Details</a>
      </div>

    </main>
  </div>
  <footer>Gekkonidae: Exercise for Express.js and Handlebars</footer>
</body>

</html>