<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add A Gecko</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/species">Add New Species</a></li>
        <li><a href="/create">Add a New Gecko</a></li>
        <li><a href="/incubator">Add to the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
        <li><a href="/user">Login</a></li>
      </ul>
    </header>
    <main>
      <h1>Add a New Species</h1>
      <div class="form">
        <form action='/species' method="POST">
          <label for="name">Species Name</label>
          <input type="text" id="speciesName" name="speciesName">
          <label for="homeRange">Home Range of Natural Habitat</label>
          <input type="text"id="name" name="description">
          <label for="tempRange">Temperature Low</label>
          <input type="number" id="name" name="hatchDate">
          <label for="tempRange">Temperature High</label>
          <input type="number" id="name" name="hatchDate">
          <label for="humidity">Humidity Range</label>
          <input type="text" id="humidity" name="humidity">
          <label for="notes">Notes</label>
          <input type="text" id="notes" name="notes">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
  <footer>Gekkonidae: "One small bird has called thee. From a beak streaked crimson" Letos Lament </footer>
 