<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register/Login a User</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/geckos-png-images-transparent-free-download-805548.jpeg' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="static/images/geckos-png-images-transparent-free-download-805548.jpeg"></li>
        <li><a href="/">Species</a></li>
        <li><a href="/create">Add New Species</a></li>
        <li><a href="/create">Add a New Gecko</a></li>
        <li><a href="/incubator">Add to the Incubator</a></li>
        <li><a href="/about">About our Animals</a></li>
        <li><a href="/users">Login</a></li>
      </ul>
    </header>
    <main>
      <h1>Add a Gecko</h1>
      <div class="form">
        <form action='' method="">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Password</label>
          <input type="text" id="password" name="password">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
  <footer>Gekkonidae: "If we offend, it is with our good will, that you should think, we come not to offend"</footer>
 